<<&DB Default = ''>>
<<&Create str>>
                        TYPE_TABL<PFA>
<<&B>>
<<&Insert  "SELECT PFAID as ID,NAME as N,NUMBER as NN,VALMIN as mn,VALMAX as mx,UNITS as U,
NAG as ng,VAG as vg,FORMAT as fr,EKV as e,RATE as op from PFA ORDER BY NUMBER">>
<<&B>>
ID< <<NN>> >IDENT< <<N>> >VALMIN< <<mn>> >VALMAX< <<mx>> >UNIT< <<U>> >NAG< <<ng>> >VAG< <<vg>> >POPRAVKA<  >FORMAT< <<fr>> > OPTIONS< <<e>> >VKB< <<op>> ><<&E>>
<<&E>>
<<&Insert str>>
