<<&DB Default = ''>>
<<&Create str>>
                     TYPE_TABL<DSA>
<<&B>>
   <<&Insert  "SELECT DSAID as ID,NAME as N,NUMBER as NN from DSA ORDER BY NUMBER">>
<<&B>>ID< <<NN>> >IDENT< <<N>> >
<<&E>>
<<&E>>
<<&Insert str>>
