<<&P ProjPath>>

<<&Create MSS_PFDfrom>>
<<&B>>
  <<&Insert "select Name as ShuName,ShuNo as NumShu from SHU">>
  <<&DB Proj = '<<ProjPath>>\Project.gdb'>>
<<&B>>
  <<&Insert Proj:"select FromCab,ToCab,FromSigID as FSI,FromType from Inter where 
  (FromCab='<<ShuName>>') and (FromType='PFD') order by FromNo">>
  <<&DB SHU = '<<ProjPath>>\DB_<<ToCab>>.gdb'>>
<<&B>>
  <<&Insert SHU:"select ShuNo as SN from SHU">>
<<&B>>
  <<&Insert "select PFDID,Name as ID1,Number as ID2 from PFD where PFDID=<<FSI>>">> 
  <<&B>>
  ID < <<ID2>> > IDENT < <<ID1>> > FROM < <<NumShu>> > TO < <<SN>> >  
  <<&E>><<&E>><<&E>><<&E>>
<<&E>>

<<&Create MSS_PFDto>>
<<&B>>
  <<&Insert "select Name as ShuName,ShuNo as NumShu from SHU">>
  <<&DB Proj = '<<ProjPath>>\Project.gdb'>>
<<&B>>
  <<&Insert Proj:"select FromCab,ToCab,ToSigID as TSI,ToType from Inter where 
  (ToCab='<<ShuName>>') and (ToType='PFD') order by ToNo">>
  <<&DB SHU = '<<ProjPath>>\DB_<<FromCab>>.gdb'>>
<<&B>>
  <<&Insert SHU:"select ShuNo as SN from SHU">>
<<&B>>
  <<&Insert "select PFDID,Name as ID1,Number as ID2 from PFD where PFDID=<<TSI>>">> 
  <<&B>>
  ID < <<ID2>> > IDENT < <<ID1>> > FROM < <<SN>> > TO < <<NumShu>> >  
  <<&E>><<&E>><<&E>><<&E>>
<<&E>>

                          TYPE_TABL<PFD> 
                   ////////// FROM ////////////
<<&Insert MSS_PFDfrom>>
                   //////////  TO  /////////////
<<&Insert MSS_PFDto>>